// wiredep-removed:bower:less
// wiredep-removed:endbower

@import "less/bootstrap.less";

// Base
@import "base.less";

// Pages
@import "pages/login.less";
@import "pages/dashboard.less";

// Widgets and Effects
@import "widgets/input-underline.less";
@import "../../bower_components/bootstrap-btn-outline-rounded/index.less";
@import "transitions/all.less";

// Other
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html,body {
	overflow: hidden;
}
.create-package-top{
  width: 100%;
  height: 50px;
  font-size: 16px;
}
